* {
    box-sizing: border-box;
}

body {


    .catamaran {
        font-family: "Catamaran", sans-serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
    }

    .ibm-plex sans-regular {
        font-family: "IBM Plex Sans", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .ibm-plex sans-semibold {
        font-family: "IBM Plex Sans", sans-serif;
        font-weight: 600;
        font-style: normal;
    }
}

.main-container {
    /*margin-left: auto;
    margin-right: auto;*/
     width: 1920px; 
     height: 960px; 
    background-color: rgba(0, 161, 198, 0.05);
    position: relative;

}

.content-container {
    width: 950px;
    height: auto;
    text-align: left;
    padding-left: 315px;
    padding-top: 142px;


}

h1 {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 167%;
    letter-spacing: -0.01em;
    color: #2d3640;
}

.bold-text {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 167%;
    letter-spacing: -0.01em;
    color: #2d3640;
}

h3 {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 200%;
    color: #2b292d;
}

.Dev-card-blocks{
    display: flex;
    align-items: center;
}

.box-dev {
    width: 295px;
    height: 470px;
    position: relative;
    top: 50px;
    left: 315px;
    margin-right: 20px;
    background-color: white;
    border-radius: 24px;
    display: inline-block;
    vertical-align: middle;


}

.box-dev>img {
    /*width: 120px;
    height: 120px;
    border-radius: 50%;*/
    overflow: hidden;
    padding-top: 56px;
    padding-left: 87px;
    display: block;
    text-align: center;

}

.box-dev>h4 {
    font-family: "Catamaran", sans-serif;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: -0.03em;
    text-align: center;
    color: #2d3640;
    text-align: center;
    padding-top: 34px;
    margin-bottom: -30px;
}

.box-dev>h5 {
    font-family: "Catamaran", sans-serif;
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    color: #4b4f52;


}

.img-container {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    /*padding-top: 33px;
    padding-left: 122px;
    padding-right: 122px;
    padding-bottom: 122px;*/
    display: inline-block;
    position: relative;
    left: 120px;
    text-align: center;

}

.img-container>img {
    background-color: #41B883;
    width: 50px;
    height: 50px;
    padding: 15px;
    display: inline-block;
}

.img-container2 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    background-color: #34474F;
    margin-top: 0px;
    margin-left: 57px;
    margin-right: 15px;

}

.img-container2>.logo2 {
    background-color: #34474F;
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 10px;

}

.img-container3 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    margin-top: 0px;
    margin-right: 15px;
    background-color: #202124;
    text-align: center;
}

.img-container3>.logo3 {

    width: 50px;
    height: 50px;
    padding: 12px;
}

.img-container4 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    padding: 6px;
    background-color: #61DAFB;
    text-align: center;
}

.img-container4>.logo4 {

    width: 50px;
    height: 50px;
    padding: 12px;
}

.img-container5 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    margin-left: 91px;
    margin-right: 14px;
    background-color: #D63033;
    text-align: center;
}

.img-container5>.logo5 {

    width: 50px;
    height: 50px;
    padding: 12px;
}

.img-container6 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;

    background-color: #0AA9D7;
    text-align: center;
}

.img-container6>.logo6 {

    width: 50px;
    height: 50px;
    padding: 12px;
}

.img-container7 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    margin-left: 91px;
    margin-right: 14px;

    background-color: #E44E25;
    text-align: center;
}

.img-container7>.logo7 {

    width: 50px;
    height: 50px;
    padding: 12px;
}

.img-container8 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;

    background-color: #1073BB;
    text-align: center;
}

.img-container8>.logo8 {

    width: 50px;
    height: 50px;
    padding: 12px;
}

/* section { 
    box-sizing: border-box;
    border: 1px solid blue;
    width: 100%;
    float: left;
}*/