@import url(reset.css);

* {
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    font-style: normal;
    position: relative;

}

.bg-image {
    width: 100%;
    min-height: 1170px;
    background-image: url("./img/Rectangle\ 1.png");
    background-color: #0f1219;
    background-repeat: no-repeat;
    /* background-position: center center; */

}

.container {
    width: 90%;
    margin: 0 auto; 
}

header {
    padding-top: 70px;
    padding-left: 80px;
}

header .container {
    display: flex;
    justify-content: space-between ; 
    align-items: center; 
}

.logo>img {
    border-right: 3px solid #c8c8c8;
    padding-right: 16px;
}

p {
    margin-left: -728px;
   
    font-weight: 500;
    font-size: 24px;
    color: #c8c8c8;
    text-align: center;
    border: none;
}

.logo>.date {
    display: inline-block;
    
}
.date{
    /* margin-top: 77px;
    margin-left: 26px; */
    text-align: center;
    /* align-self: flex-start; */
    
}

    

/* .header-group>button{
    width: 43px;
    height: 43px;
    padding-right: 45px;
    padding-top: 50px;

} */
.search{
    color: transparent;
    /* width: 43px;
    height: 43px; */
    display: inline-block;
    margin-top: -57px;
    padding-right: 45px;
    /* border: 1px solid white; */
}