@import url(reset.css);

* {
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    font-style: normal;
    position: relative;
    color:#c8c8c8;

}

.bg-image {
    width: 100%;
    min-height: 1170px;
    background-image: url("./img/Rectangle\ 1.png");
    background-color: #0f1219;
    background-repeat: no-repeat;
    /* background-position: center center; */

}
 /* Header */

 .container {
    width: 90%;
    margin: 0 auto;
}

header {
    padding-top: 70px;
    padding-left: 80px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo>img {
    border-right: 3px solid #c8c8c8;
    padding-right: 16px;
}

p {
    width: 250px;
     margin-left: -585px; */
    font-weight: 500;
    font-size: 24px;
    color: #c8c8c8;
    text-align: center;
    border: none;
}

.logo>.date {
    display: inline-block;

}

.date {
    /* margin-top: 77px;
    margin-left: 26px; */
    text-align: center;
    /* align-self: flex-start; */

}

.search {
    /* width: 43px;
    height: 43px; */
    display: inline-block;
    margin-top: -57px;
    padding-right: 45px;
    text-align: center;
}

.search>svg {
    text-align: center;
}


/* Main container */

main{
    display: inline-block;
    width: 76%;
    margin-left: 162px;
    margin-top: 116px;
}
.genre{
    width: 564px;
    height: 30px;
font-weight: 500;
font-size: 32px;
color: #fff;
display: flex;
 justify-content: flex-start
/* align-items: flex-start; */

}
.text-block{
    display: inline-block;
    padding-right: 20px;
    margin-left: 20px; 
    border-right: 3px solid #c8c8c8;
    
}
.text-block:last-child{
    border-right: none;
}
.text-block:first-child{
    margin-left: 0px;
}
.details .text-block{
    display: inline-block;
    /* justify-content: row;
    align-items: flex-start; */

}
 h3>h4{ 
    display: inline-block;
 }

h1{
    font-weight: 800;
    font-size: 64px;
    letter-spacing: 0.06em;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
}
h3{
    font-weight: 500;
    font-size: 30px;
    color: #fff;

}
h4{
    font-weight: 400;
    font-size: 29px;
    color: #a7a6a6;
}